@media screen and ( max-width: 1200px )
  .container
    max-width: 960px
  .slider
    width: 590px
  .swiper
    &-slide
      &__image
        height: 100%
        width: 100%
        object-fit: cover
  .booking
    width: 300px
  .map
    width: 300px

@media screen and ( max-width: 1070px )
  .container
    max-width: 940px
  .slider
    width: 600px
  .booking
    width: 270px
  .map
    width: 270px

@media screen and ( max-width: 992px )
  .container
    max-width: 730px
  .navbar-top
    padding: 31px 0
  .logo
    width: 133px
  .navbar
    &__search-form
      margin-left: 47px
      width: 340px
  .navbar-bottom
    padding: 22px 0
  .navbar-menu
    justify-content: space-around
    &__item
      font-size: 12px
  .stars
    margin-bottom: -3px
  .hotel
    &-right
      flex-direction: row
    &__slider
      margin-bottom: 30px
    &-grid
      flex-direction: column
      padding-bottom: 30px
  .slider
    width: 700px
  .booking
    width: 340px
    padding: 27px 22px
  .map
    width: 340px

@media screen and ( max-width: 768px )
  .container
    max-width: 700px
  .navbar-menu
    justify-content: space-around
  .slider
    width: 100%
    margin-bottom: 20px
  .booking
    width: 100%
    margin-bottom: 20px
  .map
    width: 100%
  .hotel
    &-right
      flex-direction: column

@media screen and ( max-width: 767px )
  .container
    max-width: 560px
  .navbar-bottom
    display: none
  .search
    display: none
  .user
    display: none
  .navbar-top
    &__menu-button
      display: flex
      flex-direction: column
      justify-content: space-between
  .rating
    display: none
  .offer
    order: -1
    margin-left: 0
  .stars
    flex-basis: auto
    margin-left: auto
  .hotel
    padding: 8px 0 40px
    &-name
      flex-basis: 100%
    &-wrapper
      width: 100%

@media screen and ( max-width: 320px )
  .container
    max-width: 310px
  .logo
    width: 99px
  .navbar-bottom
    display: none
  .navbar-top
    padding: 28px 0
  .search
    display: none
  .user
    display: none
  .stars
    margin-right: 17px
  .breadcrump
    padding: 15px 0
    &-list
      margin-top: 5px
  .hotel
    padding: 5px 0 40px
    &-info
      padding-bottom: 35px
    &-name
      line-height: 38px
  .slider
    width: 280px
    height: 179px
  .booking
    padding: 29px 21px
    min-height: 210px
  .map
    min-height: 173px
    max-height: 173px
