@media screen and ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel-slider
    width: 590px
  .hotel
    &-slider
      &__image
        height: 100%
        width: 100%
        object-fit: cover
  .booking
    width: 300px
  .map
    width: 300px
  iframe
    width: 100%

@media screen and ( max-width: 1070px )
  .container
    max-width: 940px
  .hotel-slider
    width: 600px
  .booking
    width: 270px
  .map
    width: 270px

@media screen and ( max-width: 992px )
  .container,.newslatter-wrapper
    max-width: 730px
    padding: 0 15px
  .navbar-top
    padding: 31px 0
  .logo
    width: 133px
  .navbar
    &__search-form
      margin-left: 47px
      width: 340px
  .navbar-bottom
    padding: 22px 0
  .navbar-menu
    justify-content: space-around
    &__item
      font-size: 12px
  .hotel-wrapper__stars
    margin-bottom: -3px
  .hotel
    padding-bottom: 26px
    &-right
      flex-direction: row
    &__slider
      margin-bottom: 30px
    &-grid
      flex-direction: column
      padding-bottom: 30px
  .hotel-slider
    width: 700px
  .booking
    width: 340px
    padding: 27px 22px
  .map
    width: 340px
  .newslatter
    padding: 93px 0
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__rating
        margin-bottom: 30px
      &__item
        max-width: 579px
        &::before, &::after
          display: none
      &__text
        max-width: 455px
        height: 133px
      &__button
        top: 50%
        &--prev
          left: 0
        &--next
          right: 0

@media screen and ( max-width: 768px )
  .container, .newslatter-wrapper
    max-width: 730px
  .logo
    margin-bottom: 6px
  .navbar-top
    padding: 30px 0
  .navbar-menu
    justify-content: space-around
  .hotel-slider
    width: 100%
    margin-bottom: 29px
  .booking
    padding: 29px 22px 26px
  .hotel
    padding-top: 10px

@media screen and ( max-width: 767px )
  .container, .newslatter-wrapper
    max-width: 560px
  .navbar-bottom
    display: none
  .search
    display: none
  .user
    display: none
  .navbar-top
    &__menu-button
      display: flex
      flex-direction: column
      justify-content: space-between
  .rating
    display: none
  .offer
    order: -1
    margin-left: 0
  .hotel-wrapper__stars
    flex-basis: auto
    margin-left: auto
  .booking
    width: 100%
    margin-bottom: 20px
  .map
    width: 100%

  .hotel
    padding: 8px 0 40px
    &-right
      flex-direction: column
    &-name
      flex-basis: 100%
    &-wrapper
      width: 100%
  .newslatter
    padding: 76px 0 83px
    &-wrapper
      flex-direction: column
      align-items: flex-start
    &__text
      margin-bottom: 37px
  .reviews
    &-slider
      &__button
        top: 45px
        &--prev
          left: 50%
          transform: translate(-50%, -50%)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, -50%)
          margin-right: -65px

@media screen and ( max-width: 576px )
  .reviews
    &-slider
      &__text
        max-width: 380px
    &__title
      font-size: 24px

@media screen and ( max-width: 440px )
  .reviews
    &-slider
      &__text
        max-width: 280px
    &__title
      font-size: 20px

@media screen and ( max-width: 390px )
  .newslatter
    &__subscribe-form
      max-width: 260px
  .reviews
    &__title
      font-size: 17px

@media screen and ( max-width: 320px )
  .container, .newslatter-wrapper
    max-width: 310px
  .logo
    width: 99px
  .navbar-bottom
    display: none
  .navbar-top
    padding: 25px 0
  .search
    display: none
  .user
    display: none
  .hotel-wrapper__stars
    margin-right: 17px
  .breadcrump
    padding: 15px 0
    &-list
      margin-top: 5px
  .hotel
    padding: 5px 0 8px
    &-info
      padding-bottom: 35px
    &-name
      line-height: 38px
  .hotel-slider
    width: 280px
    height: 179px
    margin-bottom: 20px
    &__button
      background-size: 4px
      width: 12px
      height: 12px
      &--prev
        left: 7px
      &--next
        right: 7px
  .booking
    padding: 29px 21px
    min-height: 210px
  .map
    min-height: 173px
    max-height: 173px
  .newslatter
    padding-top: 78px
    &__text
      margin-bottom: 37px
    &__title
      font-weight: 300
      font-size: 20px
      line-height: 25px
    &__strong
      font-weight: 600
      font-size: 30px
      line-height: 38px
    &__subscribe-form
      min-width: 280px
    &__input
      padding-left: 20px
  .reviews
    padding: 44px 0 60px
    &-slider
      &__rating
        margin-right: 2px
      &__text
        max-width: 219px
        font-size: 12px
        text-align: left
        height: 266px
      &__button
        &--prev
          margin-left: -91px
        &--next
          margin-right: -87px
    &__title
      font-size: 19px
      line-height: 23px
      white-space: break-spaces
      margin-bottom: 44px
