@media screen and ( max-width: 992px )
  .container
    max-width: 700px
  .navbar-top
    padding: 31px 0
  .logo
    width: 133px
  .navbar
    &__search-form
      margin-left: 47px
  .search
    &__input
    width: 340px
  .navbar-bottom
    padding: 22px 0
  .navbar-menu
    &__item
      font-size: 12px

@media screen and ( max-width: 768px )
  .container
    max-width: 700px
@media screen and ( max-width: 320px )
  .container
    max-width: 280px
  .logo
    width: 99px
  .navbar-bottom
    display: none
  .navbar-top
    padding: 28px 0
    &__menu-button
      display: flex
      flex-direction: column
      justify-content: space-between

  .search
    display: none
  .user
    display: none