// font-family: 'Mulish', sans-serif
// font-family: 'Nunito', sans-serif

*
  box-sizing: border-box

body
  background-color: $bgc
  font-family: 'Mulish', sans-serif
  color: $text-color
.container
  max-width: 1140px
  margin: auto
  padding: 0 15px
img
  max-width: 100%
.button
  border: none
  cursor: pointer
.button-link
  background: #EC1F46
  border-radius: 4px
  min-width: 150px
  text-transform: uppercase
  text-decoration: none
  color: $light
  padding: 10px 20px
label.invalid
  background-color: red
  color: black
  font-size: 10px
  position: absolute
  top: -25px
  width: 100%
  left: 0
  border: 5px solid red
  border-radius: 4px
  &::before
    content: ""
    position: absolute
    bottom: -9px
    background-color: red
    width: 10px
    height: 10px
    transform: rotate(45deg)
    left: 10px
.newslatter__input.invalid
  border: 5px solid red